<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/lottery_icon.svg" rel="icon"/>
    <title>Lottery</title>
</head>
<body>
<div>
    <p>Admin Lottery</p>
    <p>Lottery后台信息，分成历史、正在进行、还未开始</p>
    <p>中奖情况统计</p>
    <p>抽奖主题:{{.lotteryName}}</p>
    <p>发布商家:{{.lotteryBusiness}}</p>
    <p>奖品列表:{{.lotteryGift}}</p>
    <p>创建时间:{{.lotteryCreateTime}}</p>
    <p>开始时间:{{.lotteryStartTime}}</p>
    <p>持续时间:{{.lotteryTime}}</p>
    <p>预计抽奖规模:{{.lotteryQueueLength}}</p>
    <p>抽奖限定用户label:{{.lotteryLabel}}</p>
    {{if eq .lotteryState "0"}}
        <p>抽奖已结束</p>
        <p>参与抽奖人数:{{.lotteryTotalCustomer}}</p>
        <p>抽奖结果:{{.lotteryResult}}</p>
    {{end}}
    {{if eq .lotteryState "1"}}
        <p>正在进行抽奖</p>
        <p>抽奖结果:{{.lotteryResult}}</p>
        <p>参与抽奖人数:{{.lotteryTotalCustomer}}</p>
    {{end}}
    {{if eq .lotteryState "2"}}
        <p>抽奖还未开始</p>
    {{end}}
    <script>
        const timestamp = (new Date()).getTime();
        const date = new Date('{{.lotteryStartTime}}');
        if(date.getTime() - timestamp>0){
            setTimeout(function () {
                location.reload()
                console.log("timer reload")
            }, date.getTime() - timestamp);
        }
    </script>
</div>
</body>