<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/lottery_icon.svg" rel="icon"/>
    <title>Lottery</title>
</head>
<body>
<div>
    <h1>Lottery Customer Home</h1>
    <form method="post" action="/customer/logout">
        <button type="submit">注销</button>
    </form>
    {{range .lotteries}}
        <div>
            <a href="/customer/lottery/{{.LotteryId}}"><p>{{.LotteryName}}</p></a>
            <p>State{{.LotteryState}}</p>
        </div>
    {{end}}
</div>
</body>