<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/lottery_icon.svg" rel="icon"/>
    <title>Lottery</title>
</head>
<body>
<div>
    <h1>Lottery</h1>
    <a href="/customer">用户入口</a>
    <a href="/business">商家入口</a>
</div>
</body>